<div class="card">
    <div class="card-body">
        <form method="get">
            <div class="form-group">
                <label class="col-md-4">username</label>
                <input name="username" type="text" [(ngModel)]="auth.user.username" placeholder="username"/>
                <div class="error-helper" [hidden]="!auth.errors.username">
                    <span>{{ auth.errors.username }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">password</label>
                <input name="password" type="password" [(ngModel)]="auth.user.password" placeholder="password"/>
                <div class="error-helper" [hidden]="!auth.errors.password">
                    <span>{{ auth.errors.password }}</span>
                </div>
            </div>
            <div class="error-helper" [hidden]="!auth.errors.non_field_errors">
                <span>{{ auth.errors.non_field_errors }}</span>
            </div>
            <div class="form-group">
                <label class="label-submit"></label>
                <button type="submit" class="button alt" (click)="signIn()" [disabled]="isLoading ? 'disabled': null">
                    <i class="fa fa-spinner fa-spin" [hidden]="!isLoading"></i>
                    Sign In
                </button>
            </div>
            <hr>
            <br>
            <br>
            <div class="alt-auth">
                <a href="/register">Create New Account</a>
            </div>
        </form>
    </div>
</div>